/*636* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F3EAE3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.container {
  width: 90%;
  max-width: 500px;

}

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 50%;
  height: 385pxvh;
  border-radius: 10px 0 0 10px;

}

.info {
  width: 50%;
  height: 406px;
  padding: 20px;
  background-color: #fff;

}

.titulo {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 23px;
  font-weight: 400;
}

.info-produto {
  font-family: 'Fraunces', sans-serif;
  font-size: 32px;
  color: #000000;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.descricao {
  margin-top: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 23px;
  font-weight: 400;
}

.valor {
  margin-top: 15px;
  font-family: 'Fraunces', sans-serif;
  font-size: 32px;
  color: #3c8066;
  line-height: 23px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}

.valorTaxado {
  font-size: x-small;
  color: #888;
}

.botao {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3C8066;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Media query para telas menores */
@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    /* Altera a direção do flex para coluna */
  }

  .card img {
    width: 100%;
    height: 205px;
    /* A imagem ocupa a largura total */
    border-radius: 10px 10px 0 0;
    /* Bordas arredondadas apenas no topo */
  }

  .info {
    width: 100%;
    height: 397px;
    /* A descrição ocupa a largura total */
    border-radius: 0 0 10px 10px;
    /* Bordas arredondadas apenas na parte inferior */
  }
}